.pagination-container{
    position: sticky;
    top: 0;
    padding: 10px;
    backdrop-filter: blur(10px);
}
.pagination-container {
    cursor: pointer;
}
.pagination-container ul {

    border-radius: 50px;
}
.pagination-container li{ 
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.pagination-container li a{ 
    padding: 16px 40px;
    border-radius: 50px;
    transition: all 0.5s;
    border: none;

}
.pagination-container li a:hover{
    background-color: #3333338d;

}

.pagination-container li a.active{
    border: 1px solid white;
    background-color: #3333338d;
    transition: border 0.5s;
}